note-api/src/main/mule/Delete_note.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:email="http://www.mulesoft.org/schema/mule/email"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="Delete_noteFlow" doc:id="7379c60a-afae-4ef4-aef2-9fd885f66077" >
		<ee:transform doc:name="Transform Message" doc:id="4521c36b-0175-4184-8deb-9b1e17bbd551" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="ti" ><![CDATA[%dw 2.0
output application/json
---
{
	id: attributes.uriParams.noteId,
	
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<db:delete doc:name="Delete" doc:id="2a948fb7-bebd-47d3-b10f-4df28a59336d" config-ref="Database_Config">
			<db:sql ><![CDATA[delete from note where noteid = :id ]]></db:sql>
			<db:input-parameters ><![CDATA[#[id: vars.ti.id]]]></db:input-parameters>
		</db:delete>
		<ee:transform doc:name="Transform Message" doc:id="7584d0c6-bf79-4f5e-ab37-ed3b744b6aee" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Massage":"Data is deleted"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
