note-api/src/main/mule/Get_data_By_Id.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="Get_data_By_IdFlow" doc:id="0499b74e-2a12-4c86-9d18-e069a9f61ff8" >
		<db:select doc:name="Select" doc:id="a5c1fddc-e5fc-454c-9673-ca4a58051d5a" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from note where noteId =:noteId]]></db:sql>
			<db:input-parameters ><![CDATA[#[noteId: attributes.uriParams.noteId]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="f2ff1ecf-b63b-4a13-b4da-180a09475440" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
